---
import MobileGridCar from "../grid/mobile/MobileGridCar.astro";
import MobileGridShopping from "../grid/mobile/MobileGridShopping.astro";
import MobileGridChildren from "../grid/mobile/MobileGridChildren.astro";
import MobileGridDiy from "../grid/mobile/MobileGridDiy.astro";
import MobileGridGuard from "../grid/mobile/MobileGridGuard.astro";
import MobileGridAdministrative from "../grid/mobile/MobileGridAdministrative.astro";
import MobileGridPet from "../grid/mobile/MobileGridPet.astro";
---

<div class="md:hidden">
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-2 gap-x-3 gap-y-4 p-6">
      <MobileGridCar />
      <MobileGridShopping />
      <MobileGridChildren />
      <MobileGridDiy />
      <MobileGridGuard />
      <MobileGridAdministrative />
      <MobileGridPet />
    </div>
  </div>
</div>
