---
import Children from "../../../public/assets/illustrations/children.svg";
import { Image } from "astro:assets";
---

<div
  class="z-20 min-h-72 rounded-lg bg-grid-children shadow-xl hover:animate-pulse hover:cursor-pointer hover:border-2 hover:border-solid hover:border-my-secondary hover:shadow-2xl"
>
  <div
    class="flex h-full flex-col items-start justify-end p-6 font-bold text-white md:text-xl lg:text-2xl"
  >
    <Image src={Children} class="" alt="Children" />
    <span class="pt-5">Accompagnement d'enfants &gt; 5 ans</span>
  </div>
</div>
