---
import Administrative from "../../../public/assets/illustrations/administrative.svg";
import { Image } from "astro:assets";
---

<div
  class="max-h-72 rounded-lg bg-grid-administrative shadow-xl hover:animate-pulse hover:cursor-pointer hover:border-2 hover:border-solid hover:border-my-secondary hover:shadow-2xl"
>
  <div
    class="flex h-full flex-col items-start justify-end p-6 font-bold text-white md:text-xl lg:text-2xl"
  >
    <Image src={Administrative} alt="Administrative" />
    <span>Aide administrative</span>
  </div>
</div>
