---
import Car from "../../assets/illustrations/car.svg";
import { Image } from "astro:assets";
---

<div
  class="row-span-2 rounded-lg bg-grid-car shadow-xl hover:animate-pulse hover:cursor-pointer hover:border-2 hover:border-solid hover:border-my-secondary hover:shadow-2xl"
>
  <div
    class="flex h-full flex-col items-start justify-end p-6 font-bold text-white md:text-xl lg:text-2xl"
  >
    <Image src={Car} alt="Car" />
    <span class="pt-10">Service d'accompagnement véhicule et / ou autres</span>
  </div>
</div>
