---
import Pet from "../../assets/illustrations/pet.svg";
import { Image } from "astro:assets";
---

<div
  class="col-span-2 max-h-72 rounded-lg bg-grid-pet shadow-xl hover:animate-pulse hover:cursor-pointer hover:border-2 hover:border-solid hover:border-my-secondary hover:shadow-2xl"
>
  <div
    class="flex h-full items-end justify-between p-6 font-bold text-white md:text-xl lg:text-2xl"
  >
    <span class=""
      >Promenade des animaux de compagnie pour personnes dépendantes</span
    >
    <Image src={Pet} class="bottom-1 right-5 z-0 w-11/12" alt="Pet" />
  </div>
</div>
