---
import '@fontsource/baloo-2';
import NavLink from "../NavLink.astro";
import StripedDivider from "../../dividers/StripedDivider.astro";
// import BlobNav from "../../blobs/BlobNav.astro";
---

<div class="hidden md:block">
  <StripedDivider />
  <!-- <BlobNav /> -->
  <ul class="relative mt-4 flex justify-between md:px-20 xl:px-40">
    <a
      href="#"
      class="rounded-md bg-my-primary px-3 py-2 text-lg font-medium text-white"
      aria-current="page">Accueil</a
    >
    <NavLink link="Services" />
    <NavLink link="À propos" />
    <NavLink link="Fiscalité" />
    <NavLink link="Aides" />
    <NavLink link="Charte" />
    <NavLink link="Tarifs" />
  </ul>
  <StripedDivider />
</div>
<style>
  a {
    font-family: "Baloo 2";
  } 
</style>