---
import Layout from "../layouts/Layout.astro";
import AboutHero from "../components/heroes/AboutHero.astro";
---

<Layout title="À propos">
  <AboutHero />

  <div class="relative flex items-center justify-center overflow-hidden pt-10">
    <div class="md:w-11/12 lg:w-3/5">
      <p class="text-my-primary">
        Dans le cœur de notre entreprise réside l'esprit et l'héritage de Mamie
        B, une femme dont la gentillesse et la générosité étaient aussi grandes
        que son amour pour les autres. Originaire d'un petit village
        pittoresque, Mamie B était le pilier de sa communauté, offrant son aide
        désintéressée à quiconque en avait besoin.
      </p>
      <br />
      <p class="text-my-primary">
        Sa maison était plus qu'un simple foyer - c'était un refuge chaleureux
        où les portes étaient toujours ouvertes et où une tasse de thé
        réconfortante et une oreille attentive attendaient ceux qui en avaient
        besoin. Que ce soit pour un conseil sage, un repas chaud ou simplement
        une épaule sur laquelle pleurer, Mamie B était là, prête à offrir son
        soutien sans faille.
      </p>
      <br />
      <p class="text-my-primary">
        Mais ce qui distinguait vraiment Mamie B, c'était sa capacité à trouver
        de la lumière même dans les moments les plus sombres. Peu importe les
        défis auxquels elle était confrontée, elle avait toujours un sourire
        radieux et une attitude positive qui inspiraient ceux qui l'entouraient
        à garder espoir.
      </p>
      <br />
      <p class="text-my-primary">
        Son engagement envers le bien-être des autres ne connaissait pas de
        limites. Qu'il s'agisse de visiter les personnes âgées isolées, de
        cuisiner des repas pour les familles dans le besoin ou de soutenir les
        jeunes dans leur éducation, Mamie B était une force de bien dans sa
        communauté.
      </p>
      <br />
      <p class="text-my-primary">
        Aujourd'hui, nous honorons la mémoire et l'héritage de Mamie B en
        poursuivant sa mission de service à la personne. Son esprit bienveillant
        et sa compassion continuent de guider chacune de nos actions alors que
        nous nous efforçons de faire une différence positive dans la vie des
        autres, une personne à la fois.
      </p>
    </div>
  </div>
</Layout>
