---
import SectionWrapper from "../../components/dividers/SectionWrapper.astro";
import SectionHeadingHighlighted from "../dividers/SectionHeadingHighlighted.astro";
import { Image } from "astro:assets";
import Logo from "../../../public/assets/photos/mamie-b.jpg";
import "@fontsource/baloo-2";
---

<div class="relative pt-20 md:pt-36">
  <div
    class="pointer-events-none absolute inset-0 bg-center bg-grid-my-secondary/20 bg-grid-16 [mask-image:radial-gradient(white,transparent_95%)]"
  >
  </div>

  <SectionWrapper class="py-8 lg:py-16">
    <SectionHeadingHighlighted>
      <div class="flex flex-col items-center justify-center">
        <div class="relative mx-auto mt-8 w-full max-w-5xl lg:mt-16">
          <div
            class="absolute -top-8 left-1/2 h-64 w-64 -translate-x-1/2 rounded-full bg-rose-400/15 blur-3xl lg:-top-8 lg:h-[42rem] lg:w-[56rem] lg:blur-[128px]"
          >
          </div>

          <div
            class="relative flex w-full items-center justify-center text-center"
          >
            <Image
              alt="App screenshot"
              class="h-9/12 w-6/12 rounded-xl"
              src={Logo}
            />
          </div>
        </div>
        <!-- title -->
        <h1
          class="mt-20 text-center font-display text-3xl font-light leading-tight text-my-primary lg:text-5xl"
        >
          Mamie B
        </h1>

        <!-- subtitle -->
        <h2
          class="mt-8 max-w-xl text-center text-lg text-my-secondary lg:text-xl"
        >
          Notre histoire
        </h2>
      </div>
    </SectionHeadingHighlighted>
  </SectionWrapper>
</div>
