---
import { Image } from "astro:assets";
import Logo from "../assets/logo-subtitle.svg";
---

<div class="relative z-20 flex justify-center md:pt-10 lg:pt-28">
  <Image src={Logo} class="w-4/5 md:w-1/2" alt="Astro logo" />
</div>
<div
  class="fixed inset-x-0
       bottom-0 border-t-4
       border-my-secondary bg-my-background
       p-4
       text-center
       text-3xl
       text-white md:hidden"
>
  <div class="flex justify-center">
    <button
      class="animate-pulse rounded-full bg-my-primary px-4 py-2 text-base text-white"
    >
      Faites votre demande
    </button>
  </div>
</div>
<div class="relative z-10 hidden md:block">
  <div class="flex justify-center pt-20">
    <div class="md:w-4/5">
      <hr
        class="border-top border-2 border-solid border-my-secondary opacity-20"
      />
      <h2
        class="pt-10 text-center text-base text-my-secondary md:text-2xl lg:text-3xl"
      >
        Besoin d'une aide à la personne sur Lyon et sa région ?
      </h2>
      <div class="flex justify-center pt-5">
        <button
          class="rounded-full bg-my-primary px-3 py-1 text-white hover:bg-my-secondary md:px-4 md:py-2 md:font-bold"
        >
          Contactez-nous
        </button>
      </div>
    </div>
  </div>
</div>
