<div>
  <div class="bg-[linear-gradient(to_right_bottom,rgba(20,29,89,0.85),rgba(255,255,255,0)),url('../../public/hero.png')] h-[44rem] w-full bg-cover">
    <h1 class="text-white text-5xl">Besoin d'une aide à la personne sur Lyon et sa région ?</h1>
  </div>
</div>