---
import SectionBadge from "../components/dividers/SectionBadge.astro";
import SectionHeadingHighlighted from "../components/dividers/SectionHeadingHighlighted.astro";
import SectionTitleSmall from "../components/dividers/SectionTitleSmall.astro";
import SectionWrapper from "../components/dividers/SectionWrapper.astro";
import { Icon } from "astro-icon/components";
import SimpleDivider from "./dividers/SimpleDivider.astro";
import BlobSection from "./blobs/BlobSection.astro";

const features = [
  {
    title: "Fiscalité",
    description: "Conseils fiscaux et déclarations simplifiées",
    icon: "fiscalite",
    link: "/mamie-b/fiscalite",
  },
  {
    title: "Aides",
    description: "Aides d'État disponibles pour vous",
    icon: "aide",
    link: "/mamie-b/aides",
  },
  {
    title: "Tarifs",
    description: "Des tarifs compétitifs et transparents",
    icon: "tarifs",
    link: "/mamie-b/tarifs",
  },
  {
    title: "Charte",
    description: "Nos engagements et nos valeurs",
    icon: "charte",
    link: "/mamie-b/charte",
  },
];
---

<SimpleDivider />
<div id="features" class="relative scroll-mt-8 overflow-hidden py-8 lg:py-16">
  <BlobSection />
  <SectionWrapper>
    <SectionHeadingHighlighted>
      <SectionBadge>Nos accompagnements</SectionBadge>

      <SectionTitleSmall>
        Découvrez nos services complémentaires : fiscalité, aides d'État, charte
        et tarifs avantageux.
      </SectionTitleSmall>
    </SectionHeadingHighlighted>
    <div class="mt-8 lg:mt-16">
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-4 lg:gap-y-16">
        {
          features.map((feature) => (
            <a href={feature.link}>
              <div class="transition-all duration-[--duration]">
                <div class="flex items-center">
                  <div class="rounded border border-white/5 bg-white/5 p-1">
                    <Icon
                      name={feature.icon}
                      class="h-5 w-5 fill-white/10 text-my-primary"
                    />
                  </div>
                  <div class="link-underline link-underline-black ml-4 text-lg text-my-primary">
                    {feature.title}
                  </div>
                </div>

                <div class=" ml-11 mt-2 pl-0.5 text-sm font-light leading-relaxed text-my-secondary">
                  {feature.description}
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </SectionWrapper>
</div>
<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#f2c, #f2c);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
</style>
