---

---

<div class="pb-6 pt-12 lg:pb-16 lg:pt-16">
  <div class="relative bg-white/2.5 md:rounded-3xl lg:rounded-[3rem] xl:px-24">
    <div
      class="absolute inset-x-12 top-0 h-px bg-gradient-to-r from-transparent via-my-secondary/30 to-transparent"
    >
    </div>

    <div
      class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 rounded-full bg-my-secondary/30 p-1.5"
    >
      <div class="h-1.5 w-4 rounded-lg bg-my-primary/40"></div>
    </div>
  </div>
</div>
