---
import { Image } from "astro:assets";
import Shopping from "../../../../public/assets/illustrations/shopping.svg";
---

<div
  class="col-span-2 h-56 rounded-lg bg-grid-grocery shadow-xl hover:animate-pulse hover:cursor-pointer hover:border-2 hover:border-solid hover:border-my-secondary hover:shadow-2xl"
>
  <div
    class="flex h-full flex-col items-center justify-end p-3 font-bold text-white md:text-xl lg:text-2xl"
  >
    <Image src={Shopping} class="h-5/6" alt="Grocery" />
    <span class="pt-2">Service de livraison de courses</span>
  </div>
</div>
