---

---

<div
  class="blobHero absolute left-[80%] top-[65%] z-0 md:left-[75%] md:top-[55%] lg:left-[75%] lg:top-[60%]"
>
</div>
<style>
  .blobHero {
    width: 25%;
    height: 40%;
    rotate: 180deg;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M728.5 663.5Q500 827 260 663.5t0-329q240-165.5 468.5 0t0 329Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cpath fill=%22url(%23pattern)%22 d=%22M728.5 663.5Q500 827 260 663.5t0-329q240-165.5 468.5 0t0 329Z%22 transform=%22translate(-60 -60)%22%2F%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23F2D9D9%22 d=%22M728.5 663.5Q500 827 260 663.5t0-329q240-165.5 468.5 0t0 329Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
</style>
