---
import HamburgerButton from "./HamburgerButton.astro";
import Menu from "./menus/Menu.astro";
import MobileMenu from "./menus/MobileMenu.astro";
---

<nav>
  <HamburgerButton />
  <Menu />
  <MobileMenu />
</nav>
<script>
  const mobileMenuButton = document.querySelector(
    '[aria-controls="mobile-menu"]',
  );
  const mobileMenu = document.getElementById("mobile-menu-overlay");
  const closeMobileMenuButton = document.getElementById("close-mobile-menu");

  if (mobileMenuButton && mobileMenu && closeMobileMenuButton) {
    mobileMenuButton.setAttribute("aria-expanded", "false");

    mobileMenuButton.addEventListener("click", function () {
      const isExpanded =
        mobileMenuButton.getAttribute("aria-expanded") === "true";

      mobileMenuButton.setAttribute("aria-expanded", String(!isExpanded));
      mobileMenu.style.display = isExpanded ? "none" : "block";
    });

    closeMobileMenuButton.addEventListener("click", function () {
      mobileMenuButton.setAttribute("aria-expanded", "false");
      mobileMenu.style.display = "none";
    });
  }
</script>
